body {
    background: #ecf0f1;
}

.intro {
    margin-top: 25vh;
    text-align: center;
  }
  
h1 {
    font-size: 2.5em;
}

h2 {
    text-align: center;
}

.titreSite {
color: red;
font-size: 4em;
}
  